* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 30px;
}
.test {
  width: 600px;
  height: 600px;
  border: 2px solid red;
  margin: 30px auto;
  border-radius: 20px;
  position: relative;
}
.test .button {
  width: 60px;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 40%;
}
