* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  list-style-type: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container input {
  margin-left: auto;
  margin-right: auto;
}
#toggle {
  position: absolute;
  background-color: #fff;
  border: 1px #000 solid;
  width: 60px;
  left: 50%;
  margin: 5px 0 0 -36px;
  padding: 5px;
  display: none;
  text-align: center;
}
#toggle li {
  list-style-type: none;
  vertical-align: bottom;
}
#toggle li:hover {
  background-color: #ccc;
}
/* .active {
	display: block;
} */
