* {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 Arial;
}
#nav,
#nav ul,
#nav ul li,
#nav ul li a:hover,
#nav .sub-nav,
#nav .sub-nav p,
#nav .sub-nav span,
#nav .sub-nav .arrow {
  background: url("../images/nav_bg.png") no-repeat;
}
#nav {
  position: relative;
  margin: 10px auto;
  width: 904px;
  background-position: 0 -36px;
}
#nav ul {
  height: 36px;
  margin-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  line-height: 36px;
  background-position: right -72px;
  list-style: none;
}
#nav ul li {
  float: left;
  width: 110px;
  margin-left: -2px;
  background-position: 0 -108px;
}
#nav ul li a {
  display: block;
  width: 102px;
  margin: 0 2px 0 4px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#nav ul li a:hover {
  font-weight: 700;
  background-position: -3px -144px;
}
#nav .sub-nav {
  display: none;
  position: absolute;
  top: 41px;
  width: auto;
  min-width: 110px;
  height: 27px;
  line-height: 27px;
  white-space: nowrap;
  background-position: 0 -180px;
}
#nav .sub-nav .arrow {
  display: block;
  position: absolute;
  top: -4px;
  left: 50px;
  width: 11px;
  height: 5px;
  background-position: 0 -261px;
}
#nav .sub-nav p {
  margin-left: 10px;
  padding-right: 10px;
  background-position: right -234px;
}
#nav .sub-nav p span {
  display: block;
  color: #235e99;
  background-repeat: repeat-x;
  background-position: 0 -207px;
}
#nav .sub-nav p a {
  display: inline;
  margin: 0 5px;
  padding: 0 2px;
  font-size: 12px;
  color: #235e99;
  text-decoration: none;
}
#nav .sub-nav p a:hover {
  font-weight: 400;
  background-image: none;
  border-bottom: 2px solid;
}
