* {
  margin: 0;
  padding: 0;
}
#container {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  background-color: black;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  display: block;
  /* 鼠标移入移出CSS实现 */
  /* 	&:hover {
	background-color: #ccc;
	border:5px #000 solid;
	cursor: crosshair;
} */
}
.hover {
  background-color: #000;
  border: 5px #ccc solid;
  cursor: crosshair;
}
