* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  text-align: center;
  font-size: 14px;
}
.container #tips {
  position: absolute;
  display: none;
  left: 50%;
  width: 150px;
  margin: 5px 0 0 -75px;
  border: 1px #f09 solid;
  padding: 5px;
  background-color: #ffefa4;
}
.active {
  display: block!important;
}
