* {
  margin: 0;
  padding: 0;
}
h2 {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}
.picture {
  width: 800px;
  height: 1000px;
  border: 2px solid red;
  padding-top: 50px;
  margin: 0 auto;
  border-radius: 18px;
}
.picture .head {
  width: 328px;
  height: 320px;
  background: #1BA0E1;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
}
.picture .head .face {
  width: 278px;
  height: 270px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  position: relative;
  top: 50px;
  left: 24px;
}
.picture .head .face .eye {
  width: 40px;
  height: 48px;
  border: 1px solid black;
  border-radius: 50%;
  float: left;
  margin-left: 68px;
  background: white;
}
.picture .head .face .eye .pupil {
  width: 18px;
  height: 22px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  margin-top: 8px;
  margin-left: 8px;
}
.picture .head .face .nose {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background: red;
  position: relative;
  top: 70px;
  left: 124px;
}
.picture .head .face .nose .nose_01 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  margin-top: 4px;
  margin-left: 5px;
}
.picture .head .face .line {
  height: 116px;
  width: 3px;
  background: black;
  position: relative;
  top: 70px;
  left: 138px;
}
.picture .head .face .smile {
  width: 180px;
  height: 80px;
  border-radius: 0 0 100px 100px;
  border: 3px solid black;
  border-top: none;
  margin-left: 46px;
  margin-top: -12px;
}
.picture .head .face .beard {
  width: 160px;
  height: 2px;
  background: black;
  position: absolute;
}
.picture .head .face .beard_01 {
  top: 90px;
  left: -34px;
  -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
          transform: rotate(18deg);
}
.picture .head .face .beard_02 {
  top: 140px;
  left: -38px;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}
.picture .head .face .beard_03 {
  top: 190px;
  left: -34px;
  -webkit-transform: rotate(-16deg);
      -ms-transform: rotate(-16deg);
          transform: rotate(-16deg);
}
.picture .head .face .beard_04 {
  top: 84px;
  left: 148px;
  -webkit-transform: rotate(156deg);
      -ms-transform: rotate(156deg);
          transform: rotate(156deg);
}
.picture .head .face .beard_05 {
  top: 144px;
  left: 154px;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}
.picture .head .face .beard_06 {
  top: 190px;
  left: 154px;
  -webkit-transform: rotate(16deg);
      -ms-transform: rotate(16deg);
          transform: rotate(16deg);
}
.picture .neck {
  width: 200px;
  height: 20px;
  background: #E1002A;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -24px;
  z-index: 20;
}
.picture .neck .bell {
  width: 60px;
  height: 62px;
  border: 2px solid black;
  border-radius: 50%;
  background: #fce541;
  margin: 0 auto;
  position: relative;
  top: 6px;
}
.picture .neck .bell .bell_01 {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
  background: #7c6a54;
  position: relative;
  top: 26px;
  left: 20px;
}
.picture .neck .bell .bell_02 {
  width: 2px;
  height: 20px;
  background: black;
  position: relative;
  top: 24px;
  left: 29px;
}
.picture .body {
  width: 360px;
  height: 340px;
  border-radius: 100px 100px 140px 140px;
  border: 2px solid black;
  margin: 0 auto;
  background: #1BA0E1;
  position: relative;
  top: -24px;
  z-index: 10;
}
.picture .body .belly {
  width: 320px;
  height: 300px;
  background: white;
  border-radius: 50%;
  margin-left: 20px;
}
.picture .body .pocket {
  width: 240px;
  height: 80px;
  border-radius: 0 0 100px 100px;
  border: 2px solid black;
  position: relative;
  top: 160px;
  left: 40px;
}
.picture .body .hu_01 {
  width: 40px;
  height: 16px;
  border-radius: 80px 80px 0 0;
  border: 2px solid black;
  border-bottom: none;
  position: relative;
  top: 12px;
  left: 160px;
}
.picture .body .hu_02 {
  width: 2px;
  height: 182px;
  background: black;
  position: relative;
  top: -4px;
  left: 180px;
}
.picture .leg {
  width: 260px;
  margin: 0 auto;
  background: #1BA0E1;
  position: relative;
  top: -30px;
}
.picture .leg .leg_01,
.picture .leg .leg_02 {
  width: 130px;
  height: 80px;
}
